.app{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 50vh;
  width:100vw;
}

.app__balancesTab{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99;
}

.app__cards{
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
  margin: 16px 0px;
}

@media only screen and (max-width: 1150px) {
  .app__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 750px) {
  .app__cards {
    grid-template-columns: 1fr;
  }
}